.All{
  display: block;
  align-items: center;
  justify-content: center;
}

.bilgi{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  width: 200px;
  color: whitesmoke;
  margin-left: 400px;
}

.bigBilgi{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNum {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1400px;
  background-color: burlywood;
}

.App {
  width: 100%;
  height: 700px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rebeccapurple;
  background-color: seashell;
}

.main{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
}

.l-btn{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 70%;
  border: 1px solid gray;
  display: inline-block;
  margin-bottom: -20px;
  margin-left: -1050px;
  background-color: white;
  color:rgb(90, 88, 88);
}

.r-btn{
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 70%;
  position: absolute;
  margin-right: -1250px;
  margin-bottom: -20px;
  background-color: white;
  color:rgb(90, 88, 88);
}

.r-btn:hover{
  background-color: gray;
}
.l-btn:hover{
  background-color: gray;
}

.hidden {
  display: none;
}

.sepetIcon {
  display: flex;
  width: 40px;
  font-size: 1rem;
}

.basketContent {
  padding: 1rem;
  margin-top: 5px;
  width: 700px;
  height: fit-content;
  border: 2px solid rebeccapurple;
}

.basketList{
  display: flex;
}

.deleteItem {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid red;
  color: red;
  margin-left: 40px;
}